<!-- <mat-card class="propuesta-card">
    <mat-card-content>
        <table class="full-width">
            <tr>
                <td><strong>Id</strong></td>
                <td><strong>NombreGrupo</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Con Garantías Reales ($)</strong></td>
                <td><strong>100% efectivo (incluye SBLC) ($)</strong></td>
                <td><strong>Sin Garantía ($)</strong></td>
            </tr>
            <tr> </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 50px" appearance="outline">
                        <input matInput placeholder="">
                    </mat-form-field>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <mat-form-field style="width: 150px" appearance="outline">
                        <input matInput placeholder="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 150px" appearance="outline">
                        <input matInput placeholder="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 150px" appearance="outline">
                        <input matInput placeholder="">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card> -->

<!-- <p class="propuesta-card">Autonomías</p>
<mat-card class="propuesta-card">
    <mat-card-content>
        <table class="full-width">
            <tr>
                <td><strong>Id</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Con Garantías Reales ($)</strong></td>
                <td><strong>100% efectivo (incluye SBLC) ($)</strong></td>
                <td><strong>Sin Garantía ($)</strong></td>
            </tr>
            <tr> </tr>
            <tr *ngFor="let cu of arr">
                <td>{{cu.IdGrupoCargo}}</td>
                <td>{{cu.NomCargoA}}</td>
                <td>{{cu.NomCargoB}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card> -->

<p class="propuesta-card">Autonomía Delegada de Crédito</p>
<mat-card class="propuesta-card">
    <mat-card-content>
        <table class="full-width">
            <tr>
                <td><strong>Id</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Autonomía</strong></td>
                <td><strong>Con Garantías Reales ($)</strong></td>
                <td><strong>100% efectivo (incluye SBLC) ($)</strong></td>
                <td><strong>Sin Garantía ($)</strong></td>
            </tr>
            <tr> </tr>
            <tr *ngFor="let cu of arr">
                <td>{{cu.IdGrupoCargo}}</td>
                <td>{{cu.NomCargoA}}</td>
                <td>{{cu.NomCargoB}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>