.propuesta-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto auto auto;
}

.example-margin {
    margin: 0 10px;
  }

  .full-width {
    width: 100%;
  }

  .derecha{
    text-align: right;
  }

  .botonesMenu {
    margin: auto 5px auto auto;
  }

  .ancho {
    width: 250px;
  }
